{% extends 'base.html' %}

{% block title %}Удаление блога{% endblock %}

{% block content %}
<section class="py-5 text-center container">
    <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
            <h1 class="fw-light">Удаление блога</h1>
            <p class="lead text-body-secondary">Вы уверены, что хотите удалить блог "{{ object.title }}"?</p>
            <form method="post">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger">Удалить</button>
                <a href="{% url 'blogs:blog_list' %}" class="btn btn-secondary">Отмена</a>
            </form>
        </div>
    </div>
</section>
{% endblock %}